services:
  url-shortener:
    image: joschi64/url-shortener:main
    volumes:
      - ${DATA_PATH:-./data}:/app/data
    env_file:
      - ${ENV_FILE:-./.env}
    healthcheck:
      test:
        [
          "CMD",
          "node",
          "--eval",
          "fetch('http://localhost:3000/api/health').then(() => process.exit(0)).catch(() => process.exit(1))",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s
    networks:
      - ${NETWORK_NAME:-default}

networks:
  default:
  kong-net:
    external: true
